@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

::placeholder {
  color: var(--c,hsl(257, 7%, 63%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

button {
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  font-weight: 700;
}

button:hover {
  background-color: hsl(180, 79%, 79%);
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0.56rem 0.56rem;
  padding: 0;
  color: hsl(257, 7%, 63%);
  font-size: 0.9rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: hsl(257, 7%, 63%)
}

a:hover {
  color: black;
}

p {
  color:hsl(257, 7%, 63%)
}


.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: relative;
  padding: 2.7rem 1.38rem; 
}
  
.logo-container {
  width: 175px;
  height: 50px;
  padding-top: 0.278rem;
}
  
.logo {
  width: 100%;
  height: auto;
}

.fa-icon {
  font-size: 1.7em;
  cursor: pointer;
  margin-top: 0.278rem;
}

.navigation {
  display: none;
  position: absolute;
  width: 90%;
  height: auto;
  background-color: hsl(257, 27%, 26%);
  border-radius: 10px;
  top: 95%;
  padding: 1.67rem 0;
  z-index: 2;
}
  
.navigation ul {
  text-align: center;
}

.navigation ul li {
  font-size: 1.25em;
  padding: 0.4rem 0;
}

.navigation ul li a {
  color: white;
}

.right {
  border-top: 1px solid hsl(257, 7%, 63%);
  padding: 1.12rem 0 0 0;
}

.sign-up-button {
  padding: 0.834rem 4.2rem;
  font-size: 1em;
  border-radius: 50px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero-img {
  width: 145vw;
  padding: 0 1.94rem;
}

  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero-info {
    margin: 4.45rem 1.38rem;
    text-align: center;
  }

  .hero-info h1{
    font-size: 3.3em;
    line-height: 3.89rem;
  }

  .hero-info p {
    margin: 1.38rem 0.278rem;
    font-size: 1.5em;
    line-height: 2.5rem;
  }

  .hero-button {
    margin: 0.834rem 0;
    font-size: 1.65em;
    font-weight: 700;
    padding: 1.12rem 3.33rem;
    border-radius: 50px;
  }

  .link-form-container {
    margin-top: 2.7rem;
    background: linear-gradient(180deg, white 50%, hsl(230, 25%, 95%) 50%);
  }

  .link-form {
    background-image: url('./images/bg-shorten-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    width: 90%;
    padding: 0.834rem 1.67rem;
    margin-left: 1.389rem;
    border-radius: 15px;
  }

  .form-input {
    width: 100%;
    padding: 1.389rem;
    margin: 1.12rem 0;
    border-radius: 5px;
    font-size: 1.1em;
  }

  .form-submit-button {
    width: 100%;
    font-size: 1.3em;
    padding: 1.389rem 0;
    margin: 1.12rem 0;
    border-radius: 5px;
  }

  .display-links {
    background-color: hsl(230, 25%, 95%);
  }

  .display-links ul {
    display: flex;
    flex-direction: column;
    background-color: hsl(230, 25%, 95%);
  }
  
  .link-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
    background-color:white;
    margin: 0.56rem 1.39rem;
    border-radius: 10px;
    font-size: 1.7em;
    font-weight: 500;
  }

  .link-card p {
    color:black;
    border-bottom: 1px solid hsl(230, 25%, 95%);
    padding: 0.56rem 1.12rem;
    margin: 0.278rem 0;
  }

  .copy-link p {
    margin: 0.278rem 0;
    color: hsl(180, 66%, 49%);
    border-bottom: none
  }

  .copy-link-button {
    font-size: 1em;
    width: 90%;
    padding: 0.834rem 2.77rem;
    border-radius: 10px;
    margin: 0 1.12rem 1.12rem 1.12rem;
  }

  .info {
    background-color: hsl(230, 25%, 95%);
    text-align: center;
  }

  .info-title {
    margin: 5.55rem 0.56rem;
  }

  .info-title h1 {
    font-size: 2.2em;
    margin: 1.389rem 0;
  }
  
  .info-title p {
    font-size: 1.3em;
    line-height: 2.389rem;
  }

  .info-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.67rem 0;
    position: relative;
  }

  .info-card {
    margin: 4.167rem 1.389rem;
    padding: 4.45rem 1.67rem;
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
  }

  .info-card h2 {
    font-size: 1.8em;
    margin: 1.39rem 0;
  }

  .info-card p {
    font-size: 1.25em;
    line-height: 1.94rem;
  }

  .card-icon {
    position: absolute;
    background-color:hsl(257, 27%, 26%);
    border-radius: 100%;
    width: 25vw;
    height: 25vw;
    top: -15%;
    left: 35%;
  }

  .card-icon>img {
    margin-top: 25%;
    width: 48%;
  }

  .green-bar {
    background-color: hsl(180, 66%, 49%);
    height: 75%;
    width: 2.5%;
    position: absolute;
    left: 48%;
    top: 15%;
    z-index: 1;
  }

  .call-to-action {
    background-image: url('./images/bg-boost-mobile.svg');
    background-color: hsl(257, 27%, 26%);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 59vh;
    text-align: center;
    position: relative;
    /* padding: 0 1.389rem; */
  }

  .call-to-action-content {
    position: absolute;
    top: 30%;
    left: 5%;
  }

  .call-to-action-content h1 {
    font-size: 2.3em;
  }

  .started-button {
    margin: 1.389rem;
    font-size: 1.5em;
    padding: 1.389rem 3.61rem;
    border-radius: 50px;
  }

  .footer {
    background-color:hsl(260, 8%, 14%);
    color:white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3.89rem 0;
  }

  .footer-logo {
    width: 30%;
    margin: 0.56rem 0;
  }

  .footer-logo img {
    width: 100%;
    height: auto;
    filter: invert(100%) brightness(200%);
  }

  .footer-links {
    width: 100vw;
  }

  .footer-links-col {
    margin: 2.78rem 0;
  }

  .footer-links-col h6 {
    font-size: 1.3em;
    margin: 2.78rem 0 2.23rem 0;
  }

  .footer-links-col ul {
    margin: 0.56rem 0;
  }

  .footer-links-col ul li {
    padding: 0.278rem;
    font-size: 1.2em;
  }

  .footer-links-col ul li a:hover{
    color: hsl(180, 66%, 49%);
  }

  .footer-icons {
    margin-top: 1.12rem;
  }

  .footer-icons a {
    margin: 0 0.834rem;
  }

  .footer-icons a img {
    width: 6%;
  }

@media only screen and (min-width: 750px) {
  
  .header {
    justify-content: flex-start;
    align-items: center;
    padding: 2.78rem 8.34rem;
  }

  .logo-container {
    width: 8.05rem;
    padding: 0.56rem 0;
  }

  .fa-icon {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0;
    padding: 0;
    z-index: 0;
  }

  .navigation ul {
    text-align: left;
    padding: 0;
  }

  .nav-sections {
    display:flex;
    align-items: center;
    margin-left: 1.67rem;
  }

  .navigation ul li {
    font-size: 1em;
    padding: 0;
  }

  .navigation ul li a {
    color: hsl(257, 7%, 63%);
  }

  .navigation ul li a:hover {
    color: black;
  }

  .right {
    position: absolute;
    right: 5.56rem;
    border-top: 0;
    margin-top: 0;
    padding: 0;
    top: 2.23rem;
  }

  .sign-up-button {
    border-radius: 2.78rem;
    padding: 0.56rem 0.834rem;
    font-size: 1em;
  }

  .hero {
    position: relative;
    overflow: hidden;
  }

  .hero-img {
    width: 55%;
    padding: 0 1.94rem;
    position: absolute;
    right: -11%;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero-info {
    margin: 4.45rem 8.34rem;
    text-align: left;
    width: 50%;
  }

  .hero-info h1{
    font-size: 4.25em;
    line-height: 5rem;
  }

  .hero-info p {
    margin: 0 0.278rem;
    font-size: 1.25em;
    line-height: 1.94rem;
    width: 80%;
  }

  .hero-button {
    margin: 1.389rem 0;
    font-size: 1.15em;
    font-weight: 700;
    padding: 0.834rem 1.94rem;
    border-radius: 50px;
  }

  .link-form {
    background-image: url('./images/bg-shorten-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    width: 77%;
    padding: 1.94rem 3.89rem;
    margin-left: 8.611rem;
    border-radius: 15px;
  }

  .form-input {
    width: 75%;
    padding: 1.12rem 1.389rem;
    margin: 1.12rem 0;
    border-radius: 0.278rem;
    font-size: 1.1em;
  }

  .form-submit-button {
    width: 20%;
    font-size: 1.2em;
    padding: 1.12rem 0;
    margin: 1.12rem 0 1.12rem 1.67rem;
    border-radius: 5px;
  }

  .link-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 78%;
    background-color:white;
    padding: 0.56rem 2.23rem;
    margin: 0 8.056rem;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: 500;
  }

  .link-card p {
    color:black;
    border-bottom: 0;
    padding: 0.56rem 1.12rem;
    margin: 0.278rem 0;
  }

  .copy-link {
    display: flex;
  }

  .copy-link p {
    margin: 0 0.278rem;
    color: hsl(180, 66%, 49%);
    border-bottom: none
  }

  .copy-link-button {
    font-size: 0.7em;
    padding: 0 1.389rem;
    border-radius: 5px;
    margin: 0;
  }

  .info {
    padding: 0 8.34rem
  }
  .info-title h1 {
    font-size: 2.1em;
    margin: 0.56rem 0;
  }

  .info-title p {
    font-size: 1em;
    line-height: 1.83rem;
    width: 100%;
    padding: 0 16.67rem;
  }

  .info-cards {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.67rem 0;
    position: relative;
  }

  .info-card {
    margin: 0.56rem 0.834rem;
    padding: 3.3rem 1.67rem 1.67rem 1.67rem;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    text-align: left;
  }

  .info-card:nth-child(2){
    margin-top: 2.78rem;
  }
  
  .info-card:nth-child(3){
    margin-top: 5.55rem;
  }

  .info-card h2 {
    font-size: 1.2em;
    margin: 0.834rem 0;
  }

  .info-card p {
    font-size: 0.85em;
    line-height: 1.44rem;
  }

  .card-icon {
    position: absolute;
    background-color:hsl(257, 27%, 26%);
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    top: -12%;
    left: 7%;
  }

  .card-icon>img {
    margin-top: 25%;
    margin-left: 1.27rem;
    width: 50%;
  }

  .green-bar {
    background-color: hsl(180, 66%, 49%);
    height: 0.56rem;
    width: 51%;
    position: absolute;
    left: 30%;
    top: 45%;
    z-index: 1;
  }

  .call-to-action {
    background-image: url('./images/bg-boost-desktop.svg');
    background-size: cover;
    height: 33vh;

  }

  .call-to-action-content {
    position: absolute;
    top: 22%;
    left: 35%;
  }

  .call-to-action-content h1 {
    font-size: 2.1em;
  }

  .started-button {
    margin: 1.389rem;
    font-size: 1.1em;
    padding: 0.834rem 2.5rem;
    border-radius: 50px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 3.33rem 10rem;
    height: 35vh
  }

  .footer-logo {
    width: 20%;
    margin: 0.56rem 0;
  }

  .footer-logo img {
    width: 100%;
    height: auto;
    filter: invert(100%) brightness(200%);
  }
 
  .footer-links {
    display: flex;
    justify-content: space-around;
    margin-left: 12.22rem;
  }

  .footer-links-col {
    margin: 0.56rem 1.67rem;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .footer-links-col h6 {
    font-size: 0.9em;
    margin: 0 0 0.56rem 0;
  }

  .footer-links-col ul {
    margin: 0.278rem 0;
  }

  .footer-links-col ul li {
    padding: 0;
    margin: 0.56rem 0;
    font-size: 0.8em;
  }

  .footer-links-col ul li a:hover {
    color:hsl(180, 66%, 49%);
  }
  .footer-icons {
    margin-top: 0.56rem;
    margin-left: 2.78rem;
  }

  .footer-icons a {
    margin: 0 0.834rem;
  }

  .footer-icons a:hover {
    color:hsl(180, 66%, 49%);
  }

  .footer-icons a img {
    width: 11%;
  }
}
